<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Product Comments</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>

        <main ng-app="ProductRatingApp" ng-controller="CommentsController">
            <section>
                <h1>The Super Bass-o-Matic '76</h1>
                <img src="img/super-bass-o-matic-76.jpg" alt="product picture" class="product-picture">
                <p class="product-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia cumque deserunt ullam repudiandae nisi corporis! Ipsum, ducimus commodi, itaque porro distinctio consequuntur! Autem doloremque numquam nemo ex nulla tempora quis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde nihil doloribus excepturi quisquam error possimus veritatis facere, commodi cumque ab atque dolore ducimus obcaecati ipsa, impedit! Consequuntur, eligendi iure cumque!</p>
            </section>

            <section>
                <h3>Add a Comment</h3>

                <form class="comment-form form-horizontal" role="form" ng-submit="addComment()">
                    <div class="form-group">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-11">
                        <rating max="5" id="comment-rating" ng-model="newComment.rating"></rating>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="comment-title" class="col-sm-1 control-label">Title</label>
                        <div class="col-sm-11">
                        <input type="text" id="comment-title" class="form-control"
                               placeholder="Comment title" ng-model="newComment.title"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="comment-body" class="col-sm-1 control-label">Body</label>
                        <div class="col-sm-11">
                        <textarea rows="4" type="text" id="comment-body" class="form-control"
                               placeholder="Enter your comment here..." ng-model="newComment.body"/></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="comment-name" class="col-sm-1 control-label">Name</label>
                        <div class="col-sm-11">
                            <input type="text" id="comment-name" class="form-control"
                               placeholder="What's your name?" ng-model="newComment.name"/>
                        </div>
                    </div>

                    <div class="form-group btn-submit">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-11">
                            <button type="submit" class="btn btn-primary" ng-disabled="inserting">Post Comment</button>
                            <div id="invalid" class="alert alert-danger" role="alert">Please fill in all fields</div>
                        </div>
                    </div>
                </form>
            </section>

            <section>
                <h3>Comments &nbsp;<img id="spinner" src="img/ajax-spinner-sm.gif" alt="spinner" ng-show="loading"/> </h3>

                <section>
                    <ul class="current-comments">
                        <li class="comment" ng-repeat="comment in comments">
                            <div class="comment-info row">
                                <div class="col-sm-2">
                                    <p class="name">{{comment.name}}</p>
                                </div>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <h4 class="title">{{comment.title}}</h4>
                                        <p class="rating"><rating max="5" ng-model="comment.rating" ng-change="updateComment(comment)" readonly="true"></rating></p>
                                        <span alt="remove" class="glyphicon glyphicon-remove-circle pull-right remover" ng-click="removeComment(comment)"></span>
                                    </div>
                                    <p class="body">{{comment.body}}</p>
                                    <p class="votes">
                                        {{comment.votes || 0}}
                                        &nbsp;
                                        <span class="glyphicon glyphicon-chevron-up" ng-click="incrementVotes(comment, 1)"></span>
                                        <span class="glyphicon glyphicon-chevron-down" ng-click="incrementVotes(comment, -1)"></span>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <p ng-if="comments.length == 0">No comments yet. Be the first to rate it!</p>
                </section>
            </section>
        </main>

        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.min.js"></script>
        <script src="lib/ui-bootstrap-tpls-0.11.0.min.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>